.game-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  margin: 40px auto;
}

.games-container {
  border: 1px solid white;
  color: white;
  width: inherit;
  display: grid;
  margin: 40px auto;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.game-container .game-image {
  background: cover;
  max-width: 1200px;
  width: 320px;
  height: 220px;
}

.game-container a {
  text-decoration: none;
  color: white;
}
